################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeviceController/.vs/DeviceController
/.vs
/DeviceController/DeviceController/bin/Debug/net8.0
/DeviceController/DeviceController/obj
