################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeviceController/.vs/DeviceController
/.vs
/DeviceController/DeviceController/bin/Debug
/DeviceController/DeviceController/obj
.idea
.venv